@import "tailwindcss";

@theme {
     --font-ubuntu : 'Ubuntu';
     --font-inter : 'Inter 28pt';
     --font-roboto : 'Roboto';
     
    --animate-updown: wiggle 3s ease-in-out infinite;

    @keyframes wiggle {

        0%,
        100% {
            transform: translateY(0px);
        }

        50% {
            transform: translateY(-8px);
        }
    }

}